*{
    margin: 0;
    padding: 0;
    color: #eceff1;
}
body{
}
#discord-login{
}
#discord-login a {
    background-color: #7289da;
}
.idDisplay{
    opacity: 0.1;
    transition: 0.3s;
    padding:1px;
    cursor: default;
}
.idDisplay:hover{
    background-color: #00C853;
    opacity: 0.2;
    border-radius: 5px;
}
.idDisplay:active{
    color: greenyellow;
    opacity: 0.3;
}
